body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(65, 164, 253, 0.7), rgba(14, 244, 255, 0.7));
    z-index: -1;
}

header {
    color: #fff;
}

p {
    font-style: italic;
}

.nav-link {
    color: #6a6f8c;
    ;
    font-size: 1.2rem;
    /* タブ文字サイズ */
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    color: #0d6efd;
}

.btn {
    font-size: 1.1rem;
    /* ボタン文字サイズ */
}