@charset "UTF-8";

body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    background: linear-gradient(45deg, #3191f0, #a99ffe);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: #fff;
    margin-top: 10px;
}

p {
    font-style: italic;
}

.nav-link {
    color: #6a6f8c;
    font-size: 1.2rem;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    color: #0d6efd;
}

.btn {
    font-size: 1.1rem;
}
